$book-height: 90%;
.books {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    & > div {
        width: 5%;
        height: $book-height;
        position: absolute;
        bottom: 1px;
        margin-left: 1px;
        @include prefixer(transform-style, preserve-3d);
        @include prefixer(transition, transform .5s ease);
        & > div {
            position: absolute;
            @include prefixer(transform-style, preserve-3d);
            @include prefixer(transform-origin, 0 0);
            @include prefixer(box-sizing, border-box);
            background-color: #fff;
            border: 1px solid #000;
            &:hover {
                cursor: pointer;
            }
        }
        .b-top {
            width: 100%;
            height: $bg-transwidth - .1rem;
            @include prefixer(transform, rotateX(90deg));
        }
        .b-down {
            width: 100%;
            height: $bg-transwidth - .1rem;
            top: 100%;
            @include prefixer(transform, rotateX(90deg));
        }
        .b-front {
            width: 100%;
            height: 100%;
            @include prefixer(transform, translateZ($bg-transwidth - .1rem));
        }
        .b-behind {
            width: 100%;
            height: 100%;
        }
        .b-left {
            width: $bg-transwidth - .1rem;
            height: 100%;
            @include prefixer(transform, rotateY(-90deg));
        }
        .b-right {
            width: $bg-transwidth - .1rem;
            height: 100%;
            left: 100%;
            @include prefixer(transform, rotateY(-90deg));
        }
    }
}